// Colors
@teal: #31C3A2;
@teal-semi: rgba(49,195,162,.08);
@purple: #8736E0;
@purple-semi: rgba(135,54,224, .08);
@red: #F85640;
@red-semi: rgba(248,86,64,.08);
@yellow: #FFC803;
@yellow-dark: #CA9D00;
@yellow-dark-semi: rgba(202,157,0,0.08);
@yellow-light: #FFF9E5;
@white: #FFFFFF;

@light-1: #ffffff;
@light-2: #F5F8FA;
@light-3: #E3E8EB;
@light-4: #BDC2C4;
@light-5: #91979A;

@dark-1: #050D12;
@dark-2: #09161D;
@dark-3: #17242D;
@dark-4: #2B383F;
@dark-5: #4F5E65;

// Platforms
@twitch: #6542A6;
@youtube: #E62117;
@mixer: #0078d7;
@twitter: #1EA4F0;
@facebook:#3B5998;
@periscope: #3FA4C4;
@picarto: #2DA75F;

// Payment icons
@bits: #C2A4FC;
@paypal: #1A74B6;
@credit-card: #BBBFC2;
@rub: #66A438;
@eur: #842863;
@user: #BCC0C3;

// Uses
@primary: #31C3A2;
@secondary: #8736E0;
@warning: #F85640;
@new: #8736E0;
@info-dark: #CA9D00;
@info-light: #FFF9E5;
@icon: @light-5;
@label: @light-5;

@day-bg: @light-1;
@day-section: @light-2;
@day-border: @light-3;
@day-title: @dark-2;
@day-paragraph: @dark-5;
@day-input-border: @light-3;
@day-button: @light-3;
@day-link: @dark-5;
@day-link-active: @dark-2;
@day-input-border: @light-3;
@day-input-bg: @light-1;
@day-dropdown-bg: @light-2;
@day-solid-input: @light-2;
@day-dropdown-border: @light-2;
@day-switch-bg: @light-4;
@day-hover: @light-3;
@day-shadow: rgba(55, 71, 79, 0.12);

@night-bg: @dark-3;
@night-section: @dark-2;
@night-section-alt: @dark-4;
@night-border: @dark-4;
@night-title: @light-1;
@night-paragraph: @light-4;
@night-button: @dark-5;
@night-link: @light-4;
@night-link-active: @white;
@night-input-bg: transparent;
@night-input-border: @dark-5;
@night-dropdown-bg: @dark-4;
@night-solid-input: @dark-4;
@night-dropdown-border: @dark-4;
@night-switch-bg: @dark-5;
@night-hover: #0F1F27;
@night-shadow: rgba(1, 2, 2, 0.16);