// Inputs

input[type='text'],
input[type='password'],
input[type='number'],
input[type='email'],
input[type='url'],
input[type='search'],
select {
  .radius();
  border: 1px solid @day-input-border;
  box-shadow: none;
  height: 40px;
  font-size: 14px;
  .padding--input();
  background: @day-input-bg;
  font-family: 'Roboto';
  color: @day-title;
  width: 100%;
  transition: all 0.275s ease-in-out;

  &:active,
  &:focus {
    box-shadow: none;
    border-color: @light-5;
    background-color: @day-input-bg;
    outline: none;
  }

  ::placeholder,
  ::-webkit-input-placeholder,
  :-ms-input-placeholder {
    color: @light-5;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 30px @day-input-bg inset !important;
  -webkit-text-fill-color: @day-title !important;
  transition: background-color 5000s ease-in-out 0s;
}

input[readonly] {
  cursor: auto;
}

.s-input--search {
  padding-right: 24px;
}

.s-number-input {
  position: relative;

  ::-webkit-inner-spin-button,
  ::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
  }
}

.s-number-input__input {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
  .margin-h-sides();
  max-width: 100px;
  text-align: center;
}

// Primary used for widget URLs, wrap button and input in input-wrapper class and input--w-btn on input
.s-input-wrapper {
  display: flex;

  input,
  .s-input--w-btn {
    flex: 1;
  }

  .s-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .s-select2-container {
    margin-left: 8px;
    min-width: 90px;

    .s-select2-selection--single {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
}

.s-input-wrapper--price {
  input {
    min-width: 76px;
  }
}

@-moz-document url-prefix() {
  .s-input-wrapper--price {
    width: 100%;

    input {
      width: 45%;
    }

    .s-select2-container {
      width: 55% !important;
    }
  }
}

.s-input-wrapper--redemption {
  display: inline-block;
  width: 100%;

  input {
    width: 70%;
    float: left;
  }
}

input[type='file'] {
  width: auto;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 0;

  &.file-input--wide {
    width: 100%;
  }
}

.s-input--username {
  width: 230px;
}

.s-input--points {
  width: 130px;
}

textarea {
  .radius();
  box-shadow: none;
  border: 1px solid @day-input-border;
  box-shadow: none;
  background: @day-input-bg;
  margin-bottom: 0px;
  vertical-align: middle;
  color: @day-title;
  width: 100%;
  resize: vertical;
  .padding(2);
  font-family: 'Roboto';
  font-size: 14px;

  &:active,
  &:focus {
    box-shadow: none;
    border-color: @light-5;
    background-color: @day-input-bg;
    outline: none;
  }
}

.s-input-wrapper--search {
  position: relative;

  .fa-search,
  .icon-search {
    position: absolute;
    right: 8px;
    top: 0px;
    line-height: 32px;
  }
}

.night,
.night-theme {
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='text'],
  input[type='url'],
  input[type='search'],
  select,
  textarea {
    border-color: @night-input-border;
    background: @night-input-bg;
    color: @night-title;

    &:active,
    &:focus {
      box-shadow: none;
      border-color: @light-5;
      background: @night-input-bg;
    }
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px @night-input-bg inset !important;
    -webkit-text-fill-color: @night-title !important;
  }
}
