@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900i.css");@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900i.css");@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900i.css");@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700,900,900i.css");.v--modal-overlay[data-v-7c61442c] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-7c61442c] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-7c61442c] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-7c61442c],
.s-modal-sub-title[data-v-7c61442c] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-7c61442c] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-7c61442c] {
  float: right;
}
.night .v--modal-overlay[data-v-7c61442c],
.night-theme .v--modal-overlay[data-v-7c61442c] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-7c61442c],
.night-theme .s-modal-container[data-v-7c61442c] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-7c61442c],
.night-theme .s-modal-title[data-v-7c61442c],
.night .s-modal-sub-title[data-v-7c61442c],
.night-theme .s-modal-sub-title[data-v-7c61442c] {
  color: #ffffff;
}
.s-modal-body[data-v-7c61442c] {
  border-radius: 8px 8px 0 0;
}
.s-modal-footer[data-v-7c61442c] {
  background: #f5f8fa;
  border-radius: 0 0 8px 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-modal-footer-inner[data-v-7c61442c] {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 24px;
  padding-left: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.night .s-modal-body[data-v-7c61442c],
.night-theme .s-modal-body[data-v-7c61442c] {
  background: rgba(9, 22, 29, 0.24);
}
.night .s-modal-footer[data-v-7c61442c],
.night-theme .s-modal-footer[data-v-7c61442c] {
  background: #09161d;
}
.v--modal-overlay[data-v-4b081a98] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-4b081a98] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-4b081a98] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-4b081a98],
.s-modal-sub-title[data-v-4b081a98] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-4b081a98] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-4b081a98] {
  float: right;
}
.night .v--modal-overlay[data-v-4b081a98],
.night-theme .v--modal-overlay[data-v-4b081a98] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-4b081a98],
.night-theme .s-modal-container[data-v-4b081a98] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-4b081a98],
.night-theme .s-modal-title[data-v-4b081a98],
.night .s-modal-sub-title[data-v-4b081a98],
.night-theme .s-modal-sub-title[data-v-4b081a98] {
  color: #ffffff;
}
.s-subscribe-upper[data-v-4b081a98],
.s-subscribe-bottom[data-v-4b081a98] {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 32px;
  padding-left: 32px;
}
.s-subscribe-icon-box[data-v-4b081a98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 24px;
  padding-left: 24px;
  padding-bottom: 0px;
  overflow: hidden;
}
.s-subscribe-icon[data-v-4b081a98] {
  float: right;
  cursor: pointer;
}
.s-subscribe-title-box[data-v-4b081a98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 12px;
}
.s-modal-title[data-v-4b081a98] {
  margin: 0px;
  margin-right: 8px;
}
.s-button-subscribe[data-v-4b081a98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.s-button-cancel[data-v-4b081a98] {
  display: inline-block;
  padding-top: 16px;
  text-decoration: underline;
  cursor: pointer;
}
.s-modal-text-subscribe[data-v-4b081a98] {
  margin-bottom: 24px;
}
.s-subscribe-body[data-v-4b081a98] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 136px;
}
.s-subscribe-box[data-v-4b081a98] {
  text-align: center;
}
.s-subscribe-text[data-v-4b081a98] {
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
  margin-bottom: 0px;
}
.s-subscribe-message[data-v-4b081a98] {
  font-size: 16px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 0px;
}
.s-subscribe-icon[data-v-4b081a98] {
  display: inline-block;
  vertical-align: middle;
  padding-left: 8px;
}
.s-modal-notes[data-v-4b081a98] {
  text-align: center;
  color: #91979a;
  font-size: 12px;
  padding-top: 24px;
  padding-bottom: 16px;
}
.v--modal-overlay[data-v-00d62bb0] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-00d62bb0] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-00d62bb0] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-00d62bb0],
.s-modal-sub-title[data-v-00d62bb0] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-00d62bb0] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-00d62bb0] {
  float: right;
}
.night .v--modal-overlay[data-v-00d62bb0],
.night-theme .v--modal-overlay[data-v-00d62bb0] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-00d62bb0],
.night-theme .s-modal-container[data-v-00d62bb0] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-00d62bb0],
.night-theme .s-modal-title[data-v-00d62bb0],
.night .s-modal-sub-title[data-v-00d62bb0],
.night-theme .s-modal-sub-title[data-v-00d62bb0] {
  color: #ffffff;
}
.s-redirect[data-v-00d62bb0] {
  text-align: center;
  padding: 24px;
}
.s-modal-text[data-v-00d62bb0] {
  padding-right: 64px;
  padding-left: 64px;
}
.s-spinner[data-v-00d62bb0] {
  padding-bottom: 14.4px;
}
.v--modal-overlay[data-v-4d98927b] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-4d98927b] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-4d98927b] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-4d98927b],
.s-modal-sub-title[data-v-4d98927b] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-4d98927b] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-4d98927b] {
  float: right;
}
.night .v--modal-overlay[data-v-4d98927b],
.night-theme .v--modal-overlay[data-v-4d98927b] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-4d98927b],
.night-theme .s-modal-container[data-v-4d98927b] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-4d98927b],
.night-theme .s-modal-title[data-v-4d98927b],
.night .s-modal-sub-title[data-v-4d98927b],
.night-theme .s-modal-sub-title[data-v-4d98927b] {
  color: #ffffff;
}
.s-modal-container[data-v-4d98927b] {
  padding: 24px;
}
.s-confirmation[data-v-4d98927b] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.s-button-container[data-v-4d98927b] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.s-button-container .s-button[data-v-4d98927b]:first-child {
  margin-left: 0;
}
.s-modal-sub-title[data-v-4d98927b] {
  margin-bottom: 0px;
}
.s-modal-text[data-v-4d98927b] {
  text-align: center;
  margin-top: 16px;
  margin-bottom: 16px;
}
.s-modal-default-button[data-v-4d98927b] {
  float: right;
}

[data-whatintent="mouse"] *[data-v-3154be44]:focus {
  outline: none;
}
[data-whatintent="keyboard"] *[data-v-3154be44]:focus {
  outline: 2px solid #09161d;
  outline-offset: 2px;
}
[data-whatintent="keyboard"] .s-accordion[data-v-3154be44]:focus {
  border: 2px solid #09161d;
  outline: none;
}
[data-whatintent="keyboard"] .night *[data-v-3154be44]:focus,
[data-whatintent="keyboard"] .night-theme *[data-v-3154be44]:focus {
  outline-color: #ffffff;
}
[data-whatintent="keyboard"] .night .s-accordion[data-v-3154be44]:focus,
[data-whatintent="keyboard"] .night-theme .s-accordion[data-v-3154be44]:focus {
  border-color: #ffffff;
}
@-webkit-keyframes spin-data-v-3154be44 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
@keyframes spin-data-v-3154be44 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
h1[data-v-3154be44],
h2[data-v-3154be44],
h3[data-v-3154be44],
h4[data-v-3154be44],
a[data-v-3154be44],
p[data-v-3154be44],
span[data-v-3154be44],
label[data-v-3154be44] {
  font-family: "Roboto";
}
h1[data-v-3154be44],
h2[data-v-3154be44],
h3[data-v-3154be44],
h4[data-v-3154be44] {
  color: #09161d;
  margin-top: 0px;
  line-height: 130%;
}
h1[data-v-3154be44] {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}
h2[data-v-3154be44] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
h3[data-v-3154be44] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
h4[data-v-3154be44] {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
p[data-v-3154be44],
a[data-v-3154be44] {
  color: #4f5e65;
}
p[data-v-3154be44] {
  margin-top: 0px;
  margin-bottom: 16px;
}
a[data-v-3154be44] {
  text-decoration: underline;
  font-weight: 500;
}
.night h1[data-v-3154be44],
.night-theme h1[data-v-3154be44],
.night h2[data-v-3154be44],
.night-theme h2[data-v-3154be44],
.night h3[data-v-3154be44],
.night-theme h3[data-v-3154be44],
.night h4[data-v-3154be44],
.night-theme h4[data-v-3154be44] {
  color: #ffffff;
}
.night p[data-v-3154be44],
.night-theme p[data-v-3154be44],
.night a[data-v-3154be44],
.night-theme a[data-v-3154be44] {
  color: #bdc2c4;
}
.fade-enter-active[data-v-3154be44] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fade-leave-active[data-v-3154be44] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-enter[data-v-3154be44] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-leave-to[data-v-3154be44] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeFast-enter-active[data-v-3154be44] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeFast-enter[data-v-3154be44],
.fadeFast-leave-active[data-v-3154be44],
.fadeFast-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeX-from-left-enter-active[data-v-3154be44] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-left-leave-active[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-left-enter[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 0;
}
.fadeX-from-left-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.fadeX-from-right-enter-active[data-v-3154be44] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-right-leave-active[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-right-enter[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}
.fadeX-from-right-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.fadeY-from-top-enter-active[data-v-3154be44] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-top-leave-active[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-top-enter[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}
.fadeY-from-top-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.fadeY-from-bottom-enter-active[data-v-3154be44] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-bottom-leave-active[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-bottom-enter[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.fadeY-from-bottom-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.expand-dropdown-enter-active[data-v-3154be44],
.expand-dropdown-leave-active[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.expand-dropdown-enter[data-v-3154be44],
.expand-dropdown-leave-to[data-v-3154be44] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
}
.v--modal-overlay[data-v-3154be44] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-3154be44] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-3154be44] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-3154be44],
.s-modal-sub-title[data-v-3154be44] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-3154be44] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-3154be44] {
  float: right;
}
.night .v--modal-overlay[data-v-3154be44],
.night-theme .v--modal-overlay[data-v-3154be44] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-3154be44],
.night-theme .s-modal-container[data-v-3154be44] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-3154be44],
.night-theme .s-modal-title[data-v-3154be44],
.night .s-modal-sub-title[data-v-3154be44],
.night-theme .s-modal-sub-title[data-v-3154be44] {
  color: #ffffff;
}
.s-modal-welcome-prime[data-v-3154be44] {
  position: relative;
  overflow: hidden;
}
.modal-prime__close[data-v-3154be44] {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 100;
}
.modal-prime__close .icon-close[data-v-3154be44] {
  cursor: pointer;
  color: #91979a;
}
.modal-prime[data-v-3154be44] {
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 16px;
  padding-left: 16px;
}
.modal-prime .modal-prime__video[data-v-3154be44] {
  display: none;
}
@media (min-width: 768px) {
.modal-prime .modal-prime__video[data-v-3154be44] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: block;
}
}
.modal-prime .modal-prime__heading[data-v-3154be44] {
  font-family: "Barlow", sans-serif;
  font-size: 32px !important;
  font-weight: 800;
  text-align: center;
  color: #09161d;
  line-height: 40px;
}
.modal-prime .modal-prime__heading span[data-v-3154be44] {
  color: #ffd79c;
}
.modal-prime .modal-prime__desc[data-v-3154be44] {
  color: #09161d;
  font-size: 20px;
  font-weight: 800;
  margin-top: 32px;
  text-align: center;
  line-height: 24px;
}
.modal-prime .modal-prime__images[data-v-3154be44] {
  display: none;
}
@media (min-width: 768px) {
.modal-prime .modal-prime__images[data-v-3154be44] {
    width: 516px;
    margin: 0 auto;
    display: block;
    background: url("https://cdn.streamlabs.com/static/imgs/compressed/streamer-4.png"), url("https://cdn.streamlabs.com/static/imgs/landing/streamer-2.png");
    height: 238px;
    background-repeat: no-repeat;
    background-size: 48%, 39%;
    background-position: 229px -25px, 103px 0;
}
}
.modal-prime .modal-prime__features[data-v-3154be44] {
  background: #f5f8fa;
  border-radius: 8px;
  margin-bottom: 24px;
  width: 100%;
  padding: 16px;
  margin-top: 20px;
}
@media (min-width: 768px) {
.modal-prime .modal-prime__features[data-v-3154be44] {
    width: 516px;
    margin: 0 auto;
    margin-bottom: 24px;
    margin-top: 0px;
    padding-top: 24px;
    padding-bottom: 24px;
    padding-right: 32px;
    padding-left: 32px;
}
}
.modal-prime .modal-prime__features p[data-v-3154be44] {
  color: #09161d;
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  line-height: 21px;
}
.modal-prime .modal-prime__features ul[data-v-3154be44] {
  color: #4f5e65;
  font-size: 16px;
  font-weight: normal;
  line-height: 30px;
  padding-left: 16px;
  margin: 0px;
}
.modal-prime .modal-prime__button[data-v-3154be44] {
  text-align: center;
}
.modal-prime .modal-prime__button .s-button[data-v-3154be44] {
  font-weight: bold;
}
.night .modal-prime__close .icon-close[data-v-3154be44],
.night-theme .modal-prime__close .icon-close[data-v-3154be44] {
  color: #bdc2c4;
}
.night .modal-prime .modal-prime__heading[data-v-3154be44],
.night-theme .modal-prime .modal-prime__heading[data-v-3154be44] {
  color: #ffffff;
}
.night .modal-prime .modal-prime__desc[data-v-3154be44],
.night-theme .modal-prime .modal-prime__desc[data-v-3154be44] {
  color: #ffffff;
}
.night .modal-prime .modal-prime__features[data-v-3154be44],
.night-theme .modal-prime .modal-prime__features[data-v-3154be44] {
  background: rgba(43, 56, 63, 0.7);
}
.night .modal-prime .modal-prime__features p[data-v-3154be44],
.night-theme .modal-prime .modal-prime__features p[data-v-3154be44] {
  color: #ffffff;
}
.night .modal-prime .modal-prime__features ul[data-v-3154be44],
.night-theme .modal-prime .modal-prime__features ul[data-v-3154be44] {
  color: #bdc2c4;
}

[data-whatintent="mouse"] *[data-v-407f4207]:focus {
  outline: none;
}
[data-whatintent="keyboard"] *[data-v-407f4207]:focus {
  outline: 2px solid #09161d;
  outline-offset: 2px;
}
[data-whatintent="keyboard"] .s-accordion[data-v-407f4207]:focus {
  border: 2px solid #09161d;
  outline: none;
}
[data-whatintent="keyboard"] .night *[data-v-407f4207]:focus,
[data-whatintent="keyboard"] .night-theme *[data-v-407f4207]:focus {
  outline-color: #ffffff;
}
[data-whatintent="keyboard"] .night .s-accordion[data-v-407f4207]:focus,
[data-whatintent="keyboard"] .night-theme .s-accordion[data-v-407f4207]:focus {
  border-color: #ffffff;
}
@-webkit-keyframes spin-data-v-407f4207 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
@keyframes spin-data-v-407f4207 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
h1[data-v-407f4207],
h2[data-v-407f4207],
h3[data-v-407f4207],
h4[data-v-407f4207],
a[data-v-407f4207],
p[data-v-407f4207],
span[data-v-407f4207],
label[data-v-407f4207] {
  font-family: "Roboto";
}
h1[data-v-407f4207],
h2[data-v-407f4207],
h3[data-v-407f4207],
h4[data-v-407f4207] {
  color: #09161d;
  margin-top: 0px;
  line-height: 130%;
}
h1[data-v-407f4207] {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}
h2[data-v-407f4207] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
h3[data-v-407f4207] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
h4[data-v-407f4207] {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
p[data-v-407f4207],
a[data-v-407f4207] {
  color: #4f5e65;
}
p[data-v-407f4207] {
  margin-top: 0px;
  margin-bottom: 16px;
}
a[data-v-407f4207] {
  text-decoration: underline;
  font-weight: 500;
}
.night h1[data-v-407f4207],
.night-theme h1[data-v-407f4207],
.night h2[data-v-407f4207],
.night-theme h2[data-v-407f4207],
.night h3[data-v-407f4207],
.night-theme h3[data-v-407f4207],
.night h4[data-v-407f4207],
.night-theme h4[data-v-407f4207] {
  color: #ffffff;
}
.night p[data-v-407f4207],
.night-theme p[data-v-407f4207],
.night a[data-v-407f4207],
.night-theme a[data-v-407f4207] {
  color: #bdc2c4;
}
.fade-enter-active[data-v-407f4207] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fade-leave-active[data-v-407f4207] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-enter[data-v-407f4207] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-leave-to[data-v-407f4207] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeFast-enter-active[data-v-407f4207] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeFast-enter[data-v-407f4207],
.fadeFast-leave-active[data-v-407f4207],
.fadeFast-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeX-from-left-enter-active[data-v-407f4207] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-left-leave-active[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-left-enter[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 0;
}
.fadeX-from-left-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.fadeX-from-right-enter-active[data-v-407f4207] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-right-leave-active[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-right-enter[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}
.fadeX-from-right-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.fadeY-from-top-enter-active[data-v-407f4207] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-top-leave-active[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-top-enter[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}
.fadeY-from-top-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.fadeY-from-bottom-enter-active[data-v-407f4207] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-bottom-leave-active[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-bottom-enter[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.fadeY-from-bottom-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.expand-dropdown-enter-active[data-v-407f4207],
.expand-dropdown-leave-active[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.expand-dropdown-enter[data-v-407f4207],
.expand-dropdown-leave-to[data-v-407f4207] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
}
.modal-prime__close[data-v-407f4207] {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 100;
}
.modal-prime__close .icon-close[data-v-407f4207] {
  cursor: pointer;
  color: #91979a;
}

[data-whatintent="mouse"] *[data-v-66d8d161]:focus {
  outline: none;
}
[data-whatintent="keyboard"] *[data-v-66d8d161]:focus {
  outline: 2px solid #09161d;
  outline-offset: 2px;
}
[data-whatintent="keyboard"] .s-accordion[data-v-66d8d161]:focus {
  border: 2px solid #09161d;
  outline: none;
}
[data-whatintent="keyboard"] .night *[data-v-66d8d161]:focus,
[data-whatintent="keyboard"] .night-theme *[data-v-66d8d161]:focus {
  outline-color: #ffffff;
}
[data-whatintent="keyboard"] .night .s-accordion[data-v-66d8d161]:focus,
[data-whatintent="keyboard"] .night-theme .s-accordion[data-v-66d8d161]:focus {
  border-color: #ffffff;
}
@-webkit-keyframes spin-data-v-66d8d161 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
@keyframes spin-data-v-66d8d161 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
h1[data-v-66d8d161],
h2[data-v-66d8d161],
h3[data-v-66d8d161],
h4[data-v-66d8d161],
a[data-v-66d8d161],
p[data-v-66d8d161],
span[data-v-66d8d161],
label[data-v-66d8d161] {
  font-family: "Roboto";
}
h1[data-v-66d8d161],
h2[data-v-66d8d161],
h3[data-v-66d8d161],
h4[data-v-66d8d161] {
  color: #09161d;
  margin-top: 0px;
  line-height: 130%;
}
h1[data-v-66d8d161] {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}
h2[data-v-66d8d161] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
h3[data-v-66d8d161] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
h4[data-v-66d8d161] {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
p[data-v-66d8d161],
a[data-v-66d8d161] {
  color: #4f5e65;
}
p[data-v-66d8d161] {
  margin-top: 0px;
  margin-bottom: 16px;
}
a[data-v-66d8d161] {
  text-decoration: underline;
  font-weight: 500;
}
.night h1[data-v-66d8d161],
.night-theme h1[data-v-66d8d161],
.night h2[data-v-66d8d161],
.night-theme h2[data-v-66d8d161],
.night h3[data-v-66d8d161],
.night-theme h3[data-v-66d8d161],
.night h4[data-v-66d8d161],
.night-theme h4[data-v-66d8d161] {
  color: #ffffff;
}
.night p[data-v-66d8d161],
.night-theme p[data-v-66d8d161],
.night a[data-v-66d8d161],
.night-theme a[data-v-66d8d161] {
  color: #bdc2c4;
}
.fade-enter-active[data-v-66d8d161] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fade-leave-active[data-v-66d8d161] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-enter[data-v-66d8d161] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-leave-to[data-v-66d8d161] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeFast-enter-active[data-v-66d8d161] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeFast-enter[data-v-66d8d161],
.fadeFast-leave-active[data-v-66d8d161],
.fadeFast-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeX-from-left-enter-active[data-v-66d8d161] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-left-leave-active[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-left-enter[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 0;
}
.fadeX-from-left-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.fadeX-from-right-enter-active[data-v-66d8d161] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-right-leave-active[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-right-enter[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}
.fadeX-from-right-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.fadeY-from-top-enter-active[data-v-66d8d161] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-top-leave-active[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-top-enter[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}
.fadeY-from-top-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.fadeY-from-bottom-enter-active[data-v-66d8d161] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-bottom-leave-active[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-bottom-enter[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.fadeY-from-bottom-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.expand-dropdown-enter-active[data-v-66d8d161],
.expand-dropdown-leave-active[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.expand-dropdown-enter[data-v-66d8d161],
.expand-dropdown-leave-to[data-v-66d8d161] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
}
.v--modal-overlay[data-v-66d8d161] {
  background: rgba(227, 232, 235, 0.95) !important;
}
.s-modal-container[data-v-66d8d161] {
  background: #ffffff;
  border-radius: 8px;
}
.s-modal-body[data-v-66d8d161] {
  background: #ffffff;
  padding: 32px;
  padding-bottom: 24px;
}
.s-modal-title[data-v-66d8d161],
.s-modal-sub-title[data-v-66d8d161] {
  color: #09161d;
  margin-bottom: 24px;
}
.s-modal-sub-title[data-v-66d8d161] {
  margin-bottom: 16px;
  font-weight: 500;
}
.s-modal-default-button[data-v-66d8d161] {
  float: right;
}
.night .v--modal-overlay[data-v-66d8d161],
.night-theme .v--modal-overlay[data-v-66d8d161] {
  background-color: rgba(9, 22, 29, 0.95) !important;
}
.night .s-modal-container[data-v-66d8d161],
.night-theme .s-modal-container[data-v-66d8d161] {
  background: #17242d;
  -webkit-box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
          box-shadow: 0px 4px 8px rgba(9, 22, 29, 0.24);
}
.night .s-modal-title[data-v-66d8d161],
.night-theme .s-modal-title[data-v-66d8d161],
.night .s-modal-sub-title[data-v-66d8d161],
.night-theme .s-modal-sub-title[data-v-66d8d161] {
  color: #ffffff;
}
.s-modal-prime-intro[data-v-66d8d161] {
  background-color: #ffd79c;
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 64px;
  padding-bottom: 64px;
  border-radius: 4px;
  position: relative;
  color: #09161d;
}
@media (max-width: 680px) {
.s-modal-prime-intro[data-v-66d8d161] {
    padding-right: 16px;
    padding-left: 16px;
}
}
.modal-prime-intro[data-v-66d8d161] {
  position: relative;
  z-index: 1;
}
.modal-prime-intro__bg[data-v-66d8d161] {
  position: absolute;
  z-index: 0;
}
.modal-prime-intro__bg--star[data-v-66d8d161] {
  width: 470px;
  top: 17px;
  left: 0;
}
.modal-prime-intro__bg--components[data-v-66d8d161] {
  width: 386px;
  bottom: 27px;
  right: 0;
}
@media (max-width: 680px) {
.modal-prime-intro__bg--components[data-v-66d8d161] {
    display: none;
}
}
.modal-prime-intro__heading[data-v-66d8d161] {
  font-size: 48px;
  font-weight: 800;
  margin-bottom: 20px;
  line-height: normal;
}
.modal-prime-intro__heading--subtitle[data-v-66d8d161] {
  margin-top: 40px;
  font-weight: bold;
  font-size: 20px;
}
.modal-prime-intro__heading--bold[data-v-66d8d161] {
  font-family: "Barlow";
  font-weight: 900;
}
.modal-prime-intro__list[data-v-66d8d161] {
  list-style: none;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}
.modal-prime-intro__list__item[data-v-66d8d161] {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 12px;
  color: #30322c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: normal;
}
.modal-prime-intro__list__item i[data-v-66d8d161] {
  margin-right: 16px;
}
.modal-prime-intro__price[data-v-66d8d161] {
  font-size: 12px;
  font-weight: 500;
}
.modal-prime-intro__button[data-v-66d8d161] {
  margin-top: 40px;
}
.s-button[data-v-66d8d161] {
  width: 176px;
}
@media (max-width: 680px) {
.s-button[data-v-66d8d161] {
    width: 100%;
}
}

[data-whatintent="mouse"] *[data-v-7339b38f]:focus {
  outline: none;
}
[data-whatintent="keyboard"] *[data-v-7339b38f]:focus {
  outline: 2px solid #09161d;
  outline-offset: 2px;
}
[data-whatintent="keyboard"] .s-accordion[data-v-7339b38f]:focus {
  border: 2px solid #09161d;
  outline: none;
}
[data-whatintent="keyboard"] .night *[data-v-7339b38f]:focus,
[data-whatintent="keyboard"] .night-theme *[data-v-7339b38f]:focus {
  outline-color: #ffffff;
}
[data-whatintent="keyboard"] .night .s-accordion[data-v-7339b38f]:focus,
[data-whatintent="keyboard"] .night-theme .s-accordion[data-v-7339b38f]:focus {
  border-color: #ffffff;
}
@-webkit-keyframes spin-data-v-7339b38f {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
@keyframes spin-data-v-7339b38f {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
}
}
h1[data-v-7339b38f],
h2[data-v-7339b38f],
h3[data-v-7339b38f],
h4[data-v-7339b38f],
a[data-v-7339b38f],
p[data-v-7339b38f],
span[data-v-7339b38f],
label[data-v-7339b38f] {
  font-family: "Roboto";
}
h1[data-v-7339b38f],
h2[data-v-7339b38f],
h3[data-v-7339b38f],
h4[data-v-7339b38f] {
  color: #09161d;
  margin-top: 0px;
  line-height: 130%;
}
h1[data-v-7339b38f] {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 24px;
}
h2[data-v-7339b38f] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 16px;
}
h3[data-v-7339b38f] {
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 8px;
}
h4[data-v-7339b38f] {
  font-weight: 500;
  font-size: 14px;
  margin-bottom: 8px;
}
p[data-v-7339b38f],
a[data-v-7339b38f] {
  color: #4f5e65;
}
p[data-v-7339b38f] {
  margin-top: 0px;
  margin-bottom: 16px;
}
a[data-v-7339b38f] {
  text-decoration: underline;
  font-weight: 500;
}
.night h1[data-v-7339b38f],
.night-theme h1[data-v-7339b38f],
.night h2[data-v-7339b38f],
.night-theme h2[data-v-7339b38f],
.night h3[data-v-7339b38f],
.night-theme h3[data-v-7339b38f],
.night h4[data-v-7339b38f],
.night-theme h4[data-v-7339b38f] {
  color: #ffffff;
}
.night p[data-v-7339b38f],
.night-theme p[data-v-7339b38f],
.night a[data-v-7339b38f],
.night-theme a[data-v-7339b38f] {
  color: #bdc2c4;
}
.fade-enter-active[data-v-7339b38f] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fade-leave-active[data-v-7339b38f] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-enter[data-v-7339b38f] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fade-leave-to[data-v-7339b38f] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeFast-enter-active[data-v-7339b38f] {
  -webkit-transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeFast-enter[data-v-7339b38f],
.fadeFast-leave-active[data-v-7339b38f],
.fadeFast-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
}
.fadeX-from-left-enter-active[data-v-7339b38f] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-left-leave-active[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-left-enter[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
  opacity: 0;
}
.fadeX-from-left-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.fadeX-from-right-enter-active[data-v-7339b38f] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeX-from-right-leave-active[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeX-from-right-enter[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
  opacity: 0;
}
.fadeX-from-right-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateX(-10px);
          transform: translateX(-10px);
}
.fadeY-from-top-enter-active[data-v-7339b38f] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-top-leave-active[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-top-enter[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  opacity: 0;
}
.fadeY-from-top-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}
.fadeY-from-bottom-enter-active[data-v-7339b38f] {
  -webkit-transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.25s 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
}
.fadeY-from-bottom-leave-active[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  position: absolute;
  opacity: 0;
}
.fadeY-from-bottom-enter[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
  opacity: 0;
}
.fadeY-from-bottom-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}
.expand-dropdown-enter-active[data-v-7339b38f],
.expand-dropdown-leave-active[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}
.expand-dropdown-enter[data-v-7339b38f],
.expand-dropdown-leave-to[data-v-7339b38f] {
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  height: 0;
  opacity: 0;
}
.modal-prime__close[data-v-7339b38f] {
  position: absolute;
  top: 26px;
  right: 30px;
  z-index: 100;
}
.modal-prime__close .icon-close[data-v-7339b38f] {
  cursor: pointer;
  color: #ffffff;
}
