.s-progress {
  display: inline-block;
  height: 8px;
  width: 100%;
  background-color: #e3e8eb;
  border-radius: 100px;
}
.s-progress-bar {
  display: block;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #80f5d2;
  border-radius: 100px;
}
.night .s-progress,
.night-theme .s-progress {
  background-color: #2b383f;
}
