a[data-v-7f74148e] {
  text-decoration: none;
}
.s-tabs-wrapper[data-v-7f74148e] {
  height: 100%;
}
.s-tabs-nav-wrapper[data-v-7f74148e] {
  position: relative;
  height: 34px;
}
.s-tabs-nav[data-v-7f74148e] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  max-width: none;
  background: transparent;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
.s-tabs-nav__control[data-v-7f74148e] {
  height: calc(2 *  8px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-bottom: 16px;
  position: relative;
}
.s-tabs-nav__control.s-has-next[data-v-7f74148e]:before,
.s-tabs-nav__control.s-has-prev[data-v-7f74148e]:before {
  content: "";
  width: 40px;
  height: 16px;
  position: absolute;
}
.s-tabs-nav__control.s-has-next .icon-back[data-v-7f74148e] {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}
.s-tabs-nav__control.s-has-next[data-v-7f74148e]:before {
  right: 16px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0)), to(#ffffff));
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.s-tabs-nav__control.s-has-prev[data-v-7f74148e]:before {
  left: 16px;
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#ffffff), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.s-tabs[data-v-7f74148e] {
  display: inline-block;
  overflow-x: hidden;
  white-space: nowrap;
  overflow-y: hidden;
  width: 100%;
}
.s-tabs.s-has-prev[data-v-7f74148e] {
  margin-left: 16px;
}
.s-tabs.s-has-next[data-v-7f74148e] {
  margin-right: 16px;
}
.s-tabs[data-v-7f74148e]:before {
  content: "";
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #e3e8eb;
}
.s-tab[data-v-7f74148e] {
  color: #4f5e65;
  border-bottom: 2px solid transparent;
  margin-right: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
}
.s-tab.is-active[data-v-7f74148e] {
  border-color: #09161d;
}
.s-tab.is-active .s-tab-link[data-v-7f74148e] {
  color: #09161d;
}
.s-tab i[data-v-7f74148e] {
  margin-right: 8px;
}
.s-tab-link[data-v-7f74148e] {
  padding-bottom: 11px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}
.s-tab-content[data-v-7f74148e] {
  position: relative;
  overflow-y: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.night .s-tabs[data-v-7f74148e]:before,
.night-theme .s-tabs[data-v-7f74148e]:before {
  background-color: #2b383f;
}
.night .s-tab[data-v-7f74148e],
.night-theme .s-tab[data-v-7f74148e] {
  color: #bdc2c4;
}
.night .s-tab.is-active[data-v-7f74148e],
.night-theme .s-tab.is-active[data-v-7f74148e] {
  border-color: #ffffff;
}
.night .s-tab.is-active .s-tab-link[data-v-7f74148e],
.night-theme .s-tab.is-active .s-tab-link[data-v-7f74148e] {
  color: #ffffff;
}
.night .s-tabs-nav__control.s-has-next[data-v-7f74148e]:before,
.night-theme .s-tabs-nav__control.s-has-next[data-v-7f74148e]:before {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(rgba(23, 36, 45, 0)), to(#17242d));
  background: linear-gradient(to right, rgba(23, 36, 45, 0) 0%, #17242d 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.night .s-tabs-nav__control.s-has-prev[data-v-7f74148e]:before,
.night-theme .s-tabs-nav__control.s-has-prev[data-v-7f74148e]:before {
  /* FF3.6-15 */
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#17242d), to(rgba(23, 36, 45, 0)));
  background: linear-gradient(to right, #17242d 0%, rgba(23, 36, 45, 0) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.s-tabs[data-v-20741582] {
  height: 100%;
}
.s-tabs a[data-v-20741582] {
  cursor: pointer;
  -webkit-transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.s-tabs .is-active[data-v-20741582] {
  color: #09161d;
}
.s-tabs .is-hidden[data-v-20741582] {
  display: none;
}
.s-tabs__nav[data-v-20741582] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: transparent;
  position: relative;
  border-bottom: 1px solid #e3e8eb;
}
.s-tabs__tab[data-v-20741582] {
  position: relative;
  display: inline-block;
  margin-right: 16px;
  padding-top: 4px;
  padding-bottom: 12px;
  font-weight: 500;
  color: #4f5e65;
  cursor: pointer;
  -webkit-transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.s-tabs__tab[data-v-20741582]:last-child {
  margin-right: 0;
}
.s-tabs__tab[data-v-20741582]:hover {
  color: #09161d;
}
.s-tabs__tab[data-v-20741582]::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  background-color: transparent;
  height: 2px;
  width: 100%;
  -webkit-transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.s-tabs__tab.is-active[data-v-20741582] {
  border-color: #09161d;
}
.s-tabs__tab.is-active[data-v-20741582]::after {
  background-color: #09161d;
}
.s-tabs__tab i[data-v-20741582] {
  margin-right: 8px;
}
.s-tabs__link[data-v-20741582] {
  padding: 0;
  border: none;
  font-size: 14px;
  font-weight: 500;
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}
.s-tabs[data-v-20741582]  .s-pane-dropdown {
  padding-top: 4px;
  padding-bottom: 12px;
}
.s-tabs[data-v-20741582]  .s-pane-dropdown__list > div {
  margin-bottom: 8px;
}
.s-tabs[data-v-20741582]  .s-pane-dropdown__list > div:last-child {
  margin-bottom: 0;
}
.s-tabs[data-v-20741582]  .s-pane-dropdown .s-tabs__link {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  text-align: left;
  -webkit-transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
  transition: color 0.15s cubic-bezier(0.4, 0, 0.2, 1);
}
.s-tabs[data-v-20741582]  .s-pane-dropdown .s-tabs__link:hover {
  color: #09161d;
}
.s-tab-content[data-v-20741582] {
  position: relative;
  overflow-y: auto;
  padding-top: 24px;
  padding-bottom: 24px;
}
.night .s-tabs .is-active[data-v-20741582],
.night-theme .s-tabs .is-active[data-v-20741582] {
  color: #ffffff;
}
.night .s-tabs__nav[data-v-20741582],
.night-theme .s-tabs__nav[data-v-20741582] {
  border-color: #2b383f;
}
.night .s-tabs__tab[data-v-20741582],
.night-theme .s-tabs__tab[data-v-20741582] {
  color: #bdc2c4;
}
.night .s-tabs__tab[data-v-20741582]:hover,
.night-theme .s-tabs__tab[data-v-20741582]:hover {
  color: #ffffff;
}
.night .s-tabs__tab.is-active[data-v-20741582],
.night-theme .s-tabs__tab.is-active[data-v-20741582] {
  border-color: #ffffff;
}
.night .s-tabs__tab.is-active[data-v-20741582]::after,
.night-theme .s-tabs__tab.is-active[data-v-20741582]::after {
  background-color: #ffffff;
}
.night .s-tabs[data-v-20741582]  .s-pane-dropdown .s-tabs__link:hover,
.night-theme .s-tabs[data-v-20741582]  .s-pane-dropdown .s-tabs__link:hover {
  color: #ffffff;
}
